*{
    margin: 0;
    padding: 0;
}

a{
    color: black !important;
    font-family: 'Bebas Neue';
    font-size: 25px;
    text-transform: uppercase;
    animation: animate__pulse; 
    
}
.dropdown{
    color: black !important;
    font-family: 'Bebas Neue';
    font-size: 25px;
    text-transform: uppercase;
    animation: animate__pulse;

}
.submenu{
    position:absolute;
    display: none;
    background-color:#807182;
    width: 160px;
    height: 240px;
    z-index: 3;
}
header nav ul ul li{
    display: block;
}
nav ul li:hover ul{
    display: block;
}
body a{
    text-decoration: none;
}


/*Encabezado*/  


/*CUERPO*/  
.carousel{
    margin: 20px;
}

.containerBox{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    gap: 50px;
    margin-top: 100px;
    text-align: center;
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 20px;
    justify-self: center;
    padding: 20px;
    
}

.container{
    font-size: 18px;
}


/*CUERPO*/

/*PIE DE PAGINA*/


/*CUERPO IMAGENES Y VIDESO*/




/*CLASES*/
th{
    font-size: 20px;
    
}
table{
    margin: auto;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#22333B, #B27092);
}
.dh{
    text-decoration:solid;
    text-decoration: underline;
    word-spacing: 40px;
    text-transform: uppercase;
    background-color: wheat;
    display: inline-block;
    margin: 0 450px;
}
td.negrita {
    font-weight:900;
    color: blueviolet;
    text-align: center;
    font-size: 20px;
}
body main table td ul li{
    padding: 0px 0px 0px 10px;
    margin: 10px;
    list-style-position:inside;
}

/*GALERIA*/
.imagenGaleria{
    padding: 50px 0px 50px 0px; 
    margin: auto;
    height: 500px;
    width: 500px;
}
.galeriaFlex{
    display: flex;
    flex-flow: row wrap;
}
.imagenGaleria:hover{
    transform: scale(2,1);
}
/*GALERIA*/



    

   




