/*VARIABLES*/
/*PARTIALS*/
header {
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: 1.8rem;
}

.headerGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "foto enlaces" "foto enlaces";
}
.headerGrid .valhallaFlex {
  display: flex;
}
.headerGrid .valhallaFlex .imagenValhalla {
  width: 100px;
  height: 100px;
}
.headerGrid .enlaces {
  align-self: center;
  list-style: none;
}
.headerGrid .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

footer {
  padding: 40px 0px 0px 0px;
  background-color: white;
}
footer li {
  list-style-type: none;
  font-size: 19px;
  font-family: sans-serif;
  text-transform: uppercase;
}
footer .redSocial {
  display: flex;
  justify-content: space-around;
}
footer .redSocial .imagenSocial {
  height: 50px;
  width: 50px;
}

#mapa {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0px 0px 30px 0px;
  line-height: 40px;
  font-family: "Bebas Neue";
  color: black;
}

/*TABLET*/
@media only screen and (max-width: 768px) {
  .header-grid {
    display: flex;
    flex-direction: column;
  }

  .containerBox {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  a {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .titulo {
    font-size: 20px;
  }

  .lead {
    font-size: 20px;
  }

  .containerBox {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
}
/*TABLET*/
/*CELULAR*/
@media only screen and (max-width: 1200px) {
  .cajaUno {
    font-size: 12px;
  }

  .cajaTres {
    font-size: 12px;
  }

  h3 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 355px) {
  header {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  a {
    font-size: 13px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }

  .titulo {
    font-size: 15px;
  }

  .formularioB {
    border: none;
    font-size: 1rem;
  }

  .mb-3 {
    font-size: 15px;
  }

  .containerBox {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: center;
  }

  .cajaUno {
    height: 25vh;
    width: 100vw;
    border: solid black 3px;
    background-image: linear-gradient(to left, gray, beige);
  }

  .cajaTres {
    height: 25vh;
    width: 100vw;
    border: solid black 3px;
    background-image: linear-gradient(to left, gray, beige);
  }

  .imagenSocial {
    height: 25px;
    width: 25px;
  }

  .parrafoInicial {
    font-size: 1px;
  }

  #mapa {
    font-size: 10px;
  }
}
/*SECCIONES*/
.card-tienda {
  background: #0f0d32;
  background: linear-gradient(90deg, #0f0d32 33%, #3a6075 64%, #ddedf0 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-tienda section {
  display: flex;
  align-items: center;
}
.card-tienda section h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}
.card-tienda .card {
  border: none;
}
.card-tienda section {
  display: flex;
  align-items: center;
}
.card-tienda section h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.prox-tienda {
  background: #0f0d32;
  background: linear-gradient(90deg, #0f0d32 33%, #3a6075 64%, #ddedf0 100%);
}
.prox-tienda h1, .prox-tienda h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

@media only screen and (max-width: 768px) {
  .card-tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .prox-tienda h1, .prox-tienda h3 {
    font-size: 1.2rem;
    font: 300;
    text-align: center;
  }
}
@media only screen and (max-width: 355px) {
  .card-tienda h3 {
    font-size: 1rem;
    font-weight: 300;
  }
  .card-tienda .card {
    align-items: center;
    width: 15rem;
    height: 20rem;
    background-color: black;
  }
  .card-tienda .card .card-img-top {
    width: 10rem;
    height: 11rem;
  }
  .card-tienda .card .card-body {
    height: 15rem;
    width: 10rem;
  }
  .card-tienda .card .card-body h5, .card-tienda .card .card-body p, .card-tienda .card .card-body a {
    font-size: 1rem;
    font-weight: 300;
  }
}
.main-contacto #contacto__formulario {
  margin: 0px 400px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(to bottom, #3A2449, #C9B7AD);
}
.main-contacto .container-xxl {
  color: white;
  font-weight: 900;
}
.main-contacto .contacto__formulario--titulo {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 30px;
  color: whitesmoke;
  letter-spacing: 10px;
}
.main-contacto .contacto__formulario--form {
  font-size: 1.2rem;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .contacto__formulario--titulo {
    width: 100vw;
    height: 100vh;
  }

  .contacto__formulario--form {
    font-size: 1rem;
    font-weight: 100;
  }
}
body ol {
  padding: 0px 0px 0px 50px;
  margin: 10px;
  font-style: italic;
  list-style: none;
}
body ol .clases {
  font-size: 20px;
  font-weight: 900;
  list-style: disc;
  list-style-position: outside;
  margin: 0px 0px 0px 50px;
  padding: 0px;
}

.box-clases {
  display: grid;
  height: 50vh;
  width: 100vw;
  background: #020024;
  background: linear-gradient(90deg, #020024 53%, #01446a 78%, #00d4ff 100%);
  justify-content: center;
  align-items: center;
}
.box-clases h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.box-clases .imagen-tienda {
  height: 50vh;
  width: 50vw;
}

.card-body {
  background-color: black;
  color: white;
}

div h5 {
  font-size: 1.8rem;
  font-weight: 600;
}

.mons--silverMetallic {
  background-color: #AAACB0;
}

.mons--liver {
  background-color: #635255;
}

.mons--midnightGreenEagleGreen {
  background-color: #004952;
}

body {
  font-family: "Quicksand", sans-serif;
}

main {
  background-color: #F7F3F6;
  font-size: 1.2rem;
}
main .cuerpo-inicial {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}
main .cuerpo-inicial .main-grid {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  height: 100vh;
  width: 100vw;
  background-image: url(../Imagenes/barraCrossfit.jpg);
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
main .cuerpo-inicial .main-grid .parrafo-inicial {
  display: grid;
  height: 400px;
  width: 300px;
  margin: auto;
  align-content: center;
  z-index: 1;
}
main .cuerpo-inicial .main-grid .parrafo-inicial .titulo {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  color: beige;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 900;
  background: linear-gradient(to left, black, gray);
}
main .cuerpo-inicial .main-grid .lead {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}
main .cuerpo-inicial .main-grid .formularioB {
  display: flex;
  width: max-content;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  margin: auto;
  border: solid 1px black;
  padding: 10px;
  color: black;
  font-size: 1.8rem;
}
main .cuerpo-inicial .main-grid .formularioB .mb-3 {
  color: black;
  font-size: 18px;
  font-weight: 900;
}
main .cuerpo-inicial .main-grid .containerCaja {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
main .titulo-profesor {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin: auto;
}
main .titulo-profesor h1 {
  font-weight: 900;
}
main .titulo-profesor p {
  font-weight: 700;
}
main .containerBox {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: space-around;
  gap: 50px;
  margin-top: 100px;
  text-align: center;
  align-self: center;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 20px;
  justify-self: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}
main .containerBox .caja-profesor {
  border: solid 1px black;
  height: 90vh;
  background-color: black;
}
main .containerBox .caja-profesor .imagen-profesor {
  height: 70%;
  width: 100%;
}
main .containerBox .caja-profesor h2 {
  font-family: "Hina Mincho", serif;
  font-weight: 900;
  color: white;
}
main .containerBox .caja-profesor h3 {
  font-family: "Hina Mincho", serif;
  font-weight: 900;
  color: white;
}
main .containerBox .caja-profesor .imagen-profesor__social {
  height: 40px;
  width: 40px;
}

.container-clases {
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.container-clases .titulo-clases {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin: auto;
  color: white;
}
.container-clases .titulo-clases h1 {
  font-weight: 900;
  font-size: 36px;
}
.container-clases .titulo-clases p {
  font-weight: 700;
  font-size: 16px;
}
.container-clases .container-clases__grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-around;
  gap: 40px;
  padding-top: 100px;
}
.container-clases .container-clases__grid .cajas-clases {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10.5rem;
  color: white;
  font-weight: 900;
  font-family: "Abril Fatface", cursive;
  transition: all 300ms;
}
.container-clases .container-clases__grid .cajas-clases .imagen-clase {
  z-index: 1;
  height: 10rem;
  width: 10.5rem;
}
.container-clases .container-clases__grid .cajas-clases:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 300;
  }

  .titulo-profesor {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titulo-profesor h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .containerBox {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .container-clases {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
