body ol{
    padding: 0px 0px 0px 50px;
    margin: 10px;
    font-style: italic;
    list-style:none;
    .clases{
        font-size: 20px;
        font-weight: 900;
        list-style:disc;
        list-style-position:outside;
        margin: 0px 0px 0px 50px;
        padding: 0px

    }
}

    

    
        

    





