.main-contacto{
    #contacto__formulario{
        margin: 0px 400px;
        border: 5px solid white ;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        background: linear-gradient(to bottom, #3A2449, #C9B7AD );
        
    }
    .container-xxl{
        color: white;
        font-weight:900;

    }
    
    .contacto__formulario--titulo{
        text-transform: uppercase;
        font-family: 'Bebas Neue';
        font-size: 30px;
        color: whitesmoke;
        letter-spacing: 10px;
    }
    .contacto__formulario--form{
        font-size: 1.2rem;
        font-weight: 800;
    }
}
@media only screen and(max-width:768px){
    .contacto__formulario--titulo{
        width: 100vw;
        height: 100vh;
    }
    .contacto__formulario--form{
        font-size: 1rem;
        font-weight: 100;
    }

}



